/* XL Device 1200px. */

@media only screen and (min-width: 1201px) and (max-width: 1500px) {}


/* LG Device: 992px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* MD Device: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-right-content {
        text-align: center !important;
    }
    
    .top-header-content-left {
        text-align: center;
    }
    .header-middle .icon-wrap {
        justify-content: center;
        margin-top: 17px;
    }
    .single-product-item-flex {
        flex-wrap: wrap;
    }
    .single-product-20.w-33 {
        max-width: 31%;
    }
}


/* sm Device */

@media only screen and (min-width: 451px) and (max-width: 767px) {
    

}
@media all and (max-width:767px){
    .single-img a img {
        height: auto;
    }
}
/* extra small */
@media only screen and (max-width: 450px) {
    .category-info {
        flex-direction: column;
    }
    .product-item {
        flex-direction: column;
    }
    .icon-wrap.d-flex {
        justify-content: center;
    }
    .logo-area {
        text-align: center;
    }
    .features-box{
       padding-right: 0;
       border: 0;
        margin-bottom: 30px;
    }
    .feature-item{
        flex-direction: column;
        
    }
    .new-arrival-content{
        flex-direction: column;
    }
    .new-arrival-column .new-list a img {
        width: 100%;
    }
    .new-arrival-column {
        margin-bottom: 20px;
    }
    .new-arrival-inner .heading {
        order: 2;
    }
    .new-arrival-inner .heading {
        order: 2;
        width: 100%;
        margin-top: 31px;
    }
    .new-arrival-inner {
        flex-direction: column;
    }
    .section-heading h3 {
        margin: 0 auto;
    }
    
    .section-heading .label {
        display: none;
    }
    .search-form-wrap {
        flex-direction: column;
    }
    .top-header-content-left {
        text-align: center;
    }
    
    .header-right-content {
        text-align: center !important;
        margin-top: 20px;
    }
    a.search-btn i {
        display: none;
    }
    select#search-category {
        display: none;
    }
    .single-product-item-flex {
        flex-direction: column;
    }
    
    .single-product-item-flex .single-product-20 {
        margin-bottom: 40px;
        text-align: center;
    }
    .single-product-item {
        margin-bottom: 20px;
    }
    .section-heading h3 {
        margin-bottom: 40px;
    }
}
}