*{
    margin: 0; padding: 0; outline: 0; box-sizing: border-box;
}

.common-padding{
    padding: 30px 36px;
}
img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    display: block;
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none
}

a:focus {
    outline: 0 solid;
    text-decoration: none
}

img {
    max-width: 100%;
    height: auto;
}

input:focus,
button:focus,
textarea:focus,
a:focus {
    outline: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

p:last-child {
    margin-bottom: 0
}
/* header top */
.header-top{background-color: #39395C;}
.top-header-content-left ul li{
    margin-right: 15px; color: #fff; font-size: 13px;
}
.top-header-content-left ul li i{margin-right: 8px; color: #fff;}
.header-right-content nav ul li{
    margin-left: 8px;
    border-left: 1px solid #e9ecef;
    padding-left: 9px;
}
.header-right-content nav ul li:first-child{
    border-left: 0;
}
.header-right-content nav ul li a{color: #fff; font-size: 13px;}
/* header middle */
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    top: 45px;
    border-top: 2px solid orange !important;
}
.wrapper {
    background: #eee;
}
.logo-area a img {
    width: 80px;
    height: 65px;
}
nav.cat-menu {
    border: 2px solid #eee;
    padding: 28px 23px;
}
nav.cat-menu ul li a i {
    margin-right: 8px;
    color: yellowgreen;
}
.search-form form a.search-btn {
    display: inline-block;
    background: #ddd;
    padding: 8px 16px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #000;
}
.search-form {
    flex-basis: 80%;
}
.icon-wrap .icon-inner:last-child {
    margin-right: 0;
}
.search-form-wrap .icon-inner {
    margin-left: 32px;
}
.search-form form input {
    height: 39px;
    border: 2px solid #ddd;
    padding: 0 10px;
    flex: 1;
}
.header-middle {
    padding: 20px 0;
}

select#search-category {
    padding: 6px 3px 6px 7px;
    border: 2px solid #ddd;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 0;
}
.header-middle .search-form form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrap.d-flex {
    justify-content: flex-end;
}
.icont-content span {
    display: block;
}

.icont-content span a {
    color: #000;
}
.icon-inner {
    margin-right: 15px;
}
.icon-inner a {
    color: #000;
}
/* header bottom*/
.header-bottom{
    background: #ccc;
}
a.menu-btn {
   background: orange;
   color:#fff;
   border-radius: 6px;
   margin-left: 20px;
}
.header-bottom nav {
    padding: 8px 0;
}
.header-bottom {
    border-top: 1px solid #eee;
}

/*===================service dropdown======================*/
.service-dropdown-menu {
    width: 600px;
}
li.dropdown.show .dropdown-menu.show {
    border: 0;
}
.left-side {
    background: #fff;
    box-shadow: 4px 4px 15px #ccc, -4px -4px 15px white;
    height: 100%;
    padding: 32px;
}
.left-side ul li {
    display: inline;
}

.left-side ul li a {
    display: block;
    margin-top: 10px;
}
.left-side ul li a i {
    margin-right: 3px;
}
.left-side ul li:first-child a {
    margin-top: 0;
}
.right-side {
    background: #eee;
    box-shadow: 4px 4px 10px #ccc, 0px -4px 10px white;
    height: 100%;
    padding: 32px;
}

.right-side ul li {
    display: inline;
}
.right-side p {
    margin-bottom: 0;
}
.right-side ul li a {
    display: block;
}

/* banner area*/
.slider-cat-area {
    
    padding: 28px 34px;
}
.slider-inner {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.banner-img img{
    width: 100%;
}
.banner-img img {
    height: 300px;
}
nav.cat-menu h4 {
    border-bottom: 2px solid #eee;
    padding-bottom: 17px;
}
nav.cat-menu ul li {
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 12px;
    padding-top: 10px;
}
nav.cat-menu ul li:last-child {
    border-bottom: 0;
}
/*new arrival */

.new-arrival-wrap, .source-wrap {
    background: #fff;
    border-radius: 9px;
    padding: 26px 15px;
}

.new-arrival-wrap i, .source-wrap i {
    float: left;
    margin-right: 10px;
}

.new-arrival-wrap h4, .source-wrap h4 {
    font-size: 18px;
}

.heading {
    width: 63%;
}
.flex-img {
    justify-content: space-between;
    margin-top: 18px;
}

.banner-img img {
    height: 400px;
}
/* product area*/
.label {
    border: 3px solid #dcdee3;
    margin-left: 14px;
    flex: 1 1;
    border-radius: 6px;
    overflow: hidden;
}
.product-area {
    padding: 20px 50px;
}
.category-info a .banner-info {
    position: relative;
}

.banner-info h3 {
    position: absolute;
    top: 40px;
    left: 38px;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    padding-right: 30px;
    text-shadow: 0 2px 4px rgba(0,0,0,.12);
}

.banner-info span {
    position: absolute;
    left: 28px;
    bottom: 40px;
    font-size: 14px;
    padding: 0 16px;
    line-height: 34px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.product-item {
    background: #fff;
}

.product-info {
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.product-item .product-info a .item-info h3 {
    font-size: 13px;
    color: #333;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: 700;
}

.product-item .product-info a {
    display: flex;
    flex: 1 1;
}
.item-info span {
    color: #999;
    font-size: 12px;
}
.product-info a .item-info img {
    float: right;
}
.product-info a .item-info {
    flex: 1 1;
    position: relative;
    border-top: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    padding: 16px;
    overflow: hidden;
}

/* promotion*/
.promotional-area {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 34px;
    overflow: hidden;
}

.promotional-area a.top-banner {
    display: block;
    height: 32px;
    line-height: 33px;
    color: #fff;
    font-weight: 700;
    background-color: #12225b;
    width: 100%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.promotion-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 32px;
}

.promotion-list a.promotion-content {
    position: relative;
    display: flex;
    flex: 1;
    border-bottom: 1px solid rgba(220,222,227,.7);
    overflow: hidden;
    text-decoration: none;
    flex-direction: column;
    align-items: baseline;
    padding: 15px 0;
}

.promotion-list a.promotion-content .title {
    margin: 20px 40px 14px 0;
    word-break: break-word;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    max-height: 44px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.promotion-list a.promotion-content .source-btn {
    display: inline-block;
    max-width: 110px;
    padding: 0 10px;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    line-height: 21px;
    height: 20px;
    background: #12225b;
}

.promotion-list a.promotion-content .content-banner {
    position: absolute;
    right: 0;
    bottom: 0;
}

.promotion-list a.promotion-content .content-banner img {
    max-width: 80px;
    max-height: 80px;
    mix-blend-mode: multiply;
}
/* weekly deal*/
.banner-info p {
    position: absolute;
    color: #fff;
    left: 39px;
    top: 68px;
}
.banner-info .deal-button{
    position: absolute;
    left: 28px;
    font-size: 14px;
    padding: 0 16px;
    line-height: 34px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    -webkit-line-clamp: 1;
    bottom: 30px;
}


.banner-info.img-height img {
    height: 250px;
}
.item-info.deal img {
    height: 120px;
}
.strike span.strike {
    text-decoration: line-through;
    color: #000;
}

div.strike {
    font-size: 16px;
    color: #000;
}

.item-info.deal p {
    margin-bottom: 0;
}

.item-info.deal {
    text-align: center;
}
span.percent {
    background: orange;
    border-radius: 40px;
    color: #fff;
    padding: 1px 6px;
}
.category-info.basis a {flex-basis: 50%;}

.category-info.basis .product-item {
    flex-basis: 50%;
    padding: 25px;
}
/*================quotation section==================*/
.quote-img{
    background: url(../images/background-img/back-1.png);
}
.quote-number {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 420px;
}

.quote-number .number-item {
    width: 50%;
    margin-bottom: 20px;
}

.number-item .item-total {
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    line-height: 24px;
}
a.quote-btn {
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 15px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 20px;
}
.item-total span {
    /* color: #f4f4f4; */
    /* line-height: 24px; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 48px;
}
.quote-form {
    border: 5px solid #ccc;
    padding-top: 65px;
    padding-bottom: 40px;
    background: #fff;
    padding-left: 23px;
}

.quote-form form h4 {
    font-size: 29px;
    margin-bottom: 35px;
}
.form-item a.form-btn {
    display: inline-block;
    background: orangered;
    color: #fff;
    margin-top: 30px;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 50px;
    transition: all 1s ease-in;
}
.form-item span input.form-name {
    width: 70%;
    margin-bottom: 16px;
    padding: 5px 15px;
}
.form-item span input.form-number {
    padding: 5px 0px 5px 16px;
    width: 35%;
}

.form-item span select.form-opt-select {
    padding: 7px 0px 7px 10px;
    width: 34%;
}








/* footer*/
footer.footer-area {
    background:#39395C;
    padding: 40px 0 20px 0;
}

/*===========footer top==========*/
a.logo-footer img {
    display: block;
}
.newsletter-info h4.widget-title {
    margin-bottom: 0;
    color: #ccc;
}

.newsletter-info p {
    color: #999;
    font-family: inherit;
    line-height: 1.23;
}
form.input-wrapper-inline input {
    background: #2c2c2c;
    border: 0;
    border-radius: 0;
}
button.btn-grey {
    color: #fff;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    border-radius: 0;
}
form.input-wrapper.input-wrapper-inline {
    margin: 0 auto;
}
hr {
    margin-top: 3rem;
}


/* ========footer middle=========*/
.footer-middle {
    margin-top: 20px;
}
h4.widget-title {
    padding: 0.6rem 0;
    margin-bottom: .9rem;
    font-family: inherit;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
}
.footer-top .container {
    border-bottom: 1px solid #777;
}
.footer-middle label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}
.footer-middle ul.widget-body li {
    display: flex;
}

.footer-middle ul.widget-body li label {
    margin-right: 11px;
    color: #999;
}
.footer-middle ul.widget-body li a {
    color: #ccc;
    font-size: 13px;
}

.footer-middle .widget-instagram .col-3 {
    padding: 5px 4px;
}
/*=========footer bottom=========*/
.footer-left ul li a img {
    width: 40px;
}
.footer-right span {
    margin-right: 15px;
    font-weight: bold;
}
.bordr-bottom {
    border-bottom: 1px solid #555;
    margin-top: 20px;
}
.footer-right ul li a {
    background: #555;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.footer-left p{
    color: #555;
}
.footer-content {
    margin-top: 17px;
    justify-content: space-between;
}
/* breadcrumb*/
nav.breadcrumb-nav.bg {
    background: #e9ecef;
}
/* products detail area*/
ul#myTab li a img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: inset 13px 14px 15px #ccc, -6px -7px 15px #eee;
}
div#myTabContent .tab-pane img {
    width: 100%;
}
ul#myTab {
    margin-top: 20px;
    justify-content: space-between;
}
ul#myTab li.nav-item {
    flex-basis: 30%;
}
.product-price {
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 21px;
    color: red;
    font-weight: bold;
}
p.short-description {
    color: #999;
    text-align: justify;
    font-size: 15px;
}
ul.color-block li.black {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 4px;
}

ul.color-block li.red {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 4px;
}

ul.color-block li.blue {
    width: 30px;
    height: 30px;
    background: blue;
    border-radius: 4px;
}
ul.color-block {
    margin-left: 12px;
}
ul.size-block li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
}
ul.social-share li a {
    width: 30px;
    height: 30px;
    border: 1px solid blueviolet;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: blueviolet;
}
ul.size-block {
    margin-left: 12px;
}
.action-btn {
    margin-top: 20px;
}

ul.action li a {
    padding: 12px 18px;
    background: coral;
    color: #fff;
    border-radius: 4px;
}

ul.action li a i {
    margin-right: 9px;
}
hr.long-divider {
    margin-top: 36px;
}

/* product long description*/
#product-single-tab .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-bottom: 3px solid blue;
}
div#desc ul li {
    display: block;
}
.comment {
    position: relative;
    align-items: flex-start;
}
figure.comment-img {
    max-width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 25px;
}
.comment-part {
    position: relative;
}

.comment-part .comment-rating {
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 14px;
}
.comment {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.rating-container.description-rating {
    border-bottom: 2px solid #ccc;
    padding-bottom: 30px;
}
/* comment form*/
.comment-form {
    padding-bottom: 100px;
}
.comment-form-wrapper form input {
    box-shadow: inset 9px 10px 20px #ddd, inset -9px -10px 20px white;
    border: 1px solid transparent;
}
a.submit-btn.btn-outline-primary {
    background: lightgrey;
    padding: 12px 20px;
    color: #000;
    box-shadow: inset 9px 10px 20px #ddd, inset -9px -10px 20px white;
    margin-top: 13px;
    display: inline-block;
}
.comment-form-wrapper form textarea {
    box-shadow: inset 9px 10px 20px #ddd, inset -9px -10px 20px white;
    border: 1px solid transparent;
}
.comment-form-wrapper {
    background: #fff;
    border-radius: 6px;
    padding: 40px 45px;
}


/* ============================category page ================================*/
    .banner-container {
        background: url(../images/banner/banner-4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
    }
    .banner-container a {
        background: black;
        color: #fff;
        padding: 12px 26px;
        margin-top: 5px;
        display: inline-block;
        transition: all 1s ease-in;
    }
    
    .banner-container a:hover {
        background: orangered;
    }

    /* sidebar*/
    h3.widget-title a {
        position: relative;
        display: block;
        color: #222529;
        font-size: 23px;
    }
    
    h3.widget-title a:after, h3.widget-title a:before {
        position: absolute;
        content: '';
        width: 10px;
        height: 2px;
        background: #222529;
        right: 0;
        top: 50%;
        margin-top: -1px;
        transition: all .3s ease-in;
        display: inline-block;
    }
    .widget-body .category-list li {
        display: block;
    }
    
    .widget-body .category-list li a {
        color: #999;
        font-size: 14px;
    }
    
    .widget-newsletter {
        margin-bottom: 27px;
    }
    .newsletter-info h4.widget-title {
        padding: 0;
    }
    /*=========price slider===========*/
    .slider-range{
        -webkit-appearance: none;
        appearance: none;
        height: 25px;
        outline: none;
        opacity: .7;
        transition: all 1s ease-in-out;
    }
    .widget-body .service-type input{
        display: inline-block;
    }
    .category-sidebar .side-wrap .widget {
        border: 1px solid #ccc;
        padding: 30px 20px;
        margin-bottom: 10px;
        border-radius: 2px;
    }
    /* ===============feature box==================  */
    .feature-item {
        justify-content: space-between;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 25px 25px;
    }
    .features-box {
        border-right: 1px solid #ccc;
        padding-right: 66px;
    }
    
    .features-box:last-child {
        border-right: 0;
    }
    .feature-content h4 {
        color: inherit;
        margin-bottom: 0;
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.1;
    }
    .feature-thumnb {
        margin-top: 6px;
        border: 2px solid #999;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
    }